<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bundesliga Manager</title>
  <link rel="stylesheet" href="/public/style/style.css">
  <link rel="stylesheet" href="/public/style/error.css">
</head>
<body>
  <div class="wrapper">
    {{> header}}

    <main class="container main-content">
      <div class="icon-container">
        <img src="public/images/red.png"></img>
      </div>
      <h1 class="error-code">403</h1>
      <p class="error-message">Red Card!</p>
      <p class="error-description">You are'nt authorized to perform this action.</p>
      <a href="/" class="back-home-btn">Back to Home</a>
    </main>

    {{> footer}}
  </div>
</body>
</html>