<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bundesliga Manager</title>
  <link rel="stylesheet" href="/public/style/style.css">
</head>
<body>
  <div class="wrapper">
    {{> header}}

    <main class="container main-content">
      <h1>Welcome to Bundesliga Management</h1>
      <p>Manage your teams, players, and view statistics.</p>
      <br><br><br>
      <a href="/login" class="bl-btn">Admin Login</a>
    </main>

    {{> footer}}
  </div>
</body>
</html>